[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/cookbooks/hw-apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/cookbooks/hw-build-essential.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/cookbooks/openssl.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
